html {
  scroll-behavior: smooth;
}


.text{
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff
}

.text h2 {
  width: 100%;
  font-size: 4em;
  color:#F48FB1;
  line-height: 0.5em;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#down {
  margin-top: 23%;
  padding-bottom: 15%;
}

.container-fluid {
  
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  background-color: #F48FB1;
  a:hover {
    text-decoration-line: underline;}

}

html {
  background-color: #F48FB1;
}

.introduction-text {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  text-transform:none;
  padding: 5%;
}


.introduction-text h2 {
  font-weight:bold;
  text-transform:uppercase;
  padding: 5%;
  color: white;
}

.logo-image {
  position:center;
}

p {
  padding-top: 5%;
  color: white;
}

.icon {
  align-items:center;
  display: flex;
  scroll-margin-bottom: 50%;
  color: black;
}

.work-text {
  text-align: center;
  display: inline-block;
  font-size: 150px
}

.col-lg-4 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h3 {
  font-family: "Lexend Deca", sans-serif;
  text-transform:lowercase;
  text-align: center;
  padding: 30px 30px;
}

.tooBig {
  margin: 30% 30%;
  position: center;
  -ms-flex-item-align: center;
}

.tooSmall {
  margin: 30%;
  position: center;
  background-color:#F48FB1;
}

.btn {
  margin:5%;
}


h3 {
  background-color:#F48FB1
}


h4 {
  padding-top: 5%;
  color: white;
}


/* START */

.container_new {
  padding: 50px 0;
}

.row_new {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 12px;
}

.section__title_new {
  margin-bottom: 20px;;
}

.image__list_new {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.image_new {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  position: relative;
}

.image__img--wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Initially fully transparent */
  transition: background-color 0.3s ease;
  pointer-events: none; /* Prevents the overlay from interfering with mouse events */
}

.image__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

.image__img {
  width: 100%;
  max-width: 100%;
  transition: all 300ms ease;
}

.project_title,
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Choose a color that contrasts well with your images */
  font-size: 20px; /* Adjust as needed */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.project_title {
  top: 15%; /* Adjust positioning as needed */
  font-size: 28px; /* Adjust font size as needed */
}

.image__img--wrapper:hover .image__img {
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  filter: brightness(10%);
  filter: blur(10px);
  transform: scale(0.9);
}
.image__img--wrapper:hover .project_title,
.image__img--wrapper:hover .overlay-text {
  opacity: 1;
}

/* TECH STACK */

.section__title {
  margin-bottom: 20px;
  color: #242424;
  text-align: center;
  line-height: 1.25;
  font-size: 36px;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
